* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "segoe UI", sans-serif;
}

/*
/* header with gradient todo: change for image ??
 header {
    text-align: center;
    background: linear-gradient(180deg, #0077d0, #f08519);
    color: white;
    padding: 2rem 1rem;
}
 */

.header {
    background-image: url('../images/vacayweather-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    font-family: 'Poppins', sans-serif;
}

.header h1 {
    font-size: 5rem;
    margin: 0;
}

.header p {
    font-size: 1.1rem;
    margin-top: 0.3rem;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.search-bar input {
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    width: 250px;
}

.search-bar button {
    background-color: #0061a8;
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #4e96d9;
}

.subtitle {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #f4f6f8;
}

/* main content */
main {
    background-color: #f4f6f8;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

section {
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

section h2 {
    margin-top: 1rem;
    color: #0061a8;
}

section:not(#answer) {
    margin-bottom: 2rem;
}

#weather,
#packing {
    width: 90%;
    max-width: 500px;
    margin: 0 auto 2rem auto;
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#answer {
    background: #f4f6f8;
    padding: 2rem;
    width: 95%;
    max-width: 800px;
    margin: -150px auto 0 auto; /* negativ top-margin skubber den op */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative; /* gør det muligt at ligge ovenpå */
    z-index: 2; /* sørger for at den ligger over headeren */
}


ul {
    list-style: none;
    margin-left: 1rem;
}